@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange: #FF5C00;
  --orange-hover: #ff801f;
  --bg: #ffffff;
  --black: #000000;
  --gray: #2d2d2d;
  --soft-gray: #b8b8b8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

